
# PLEASE COPY THE FOLLOWING LINES TO YOUR .htaccess FILE TO DENY ACCESS TO ANY LOG FILES (highly recommended!)
# IF YOU DO NOT HAVE AN .htaccess FILE AND YOUR HOST ALLOWS IT, JUST COPY THIS FILE TO YOUR SITE ROOT

# BEGIN FXtender secure log files

# deny access to htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# deny access to all FXtender .log files
<Files ~ "(log.txt|error_log)">
 Order allow,deny
 Deny from all
 Satisfy All
</Files>

# END FXtender secure log files